@model Demo_1_Ecommerce.ViewModels.Category

@{
    ViewBag.PageTitle = "Category Management";

    ViewBag.CardTitle = "Create Category";

    Layout = "_AdminLayout";
}

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>

   

    <div class="mb-3">
        <label asp-for="description"></label>
        <input asp-for="description" class="form-control" />
        <span asp-validation-for="description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a asp-action="Index" asp-controller="Category" class="btn btn-outline-secondary">Cancel</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
