<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adminmart Template - Login</title>
    <link href="~/admintemplate/dist/css/style.min.css" rel="stylesheet">
</head>

<body>
    @RenderBody()

    <script src="~/admintemplate/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/admintemplate/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/admintemplate/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false) <!-- Add this line to render the Scripts section -->

    <script>
        $(".preloader").fadeOut();
    </script>
</body>

</html>
